Databases/Exam Preparation/ToyStoreOld/Bookstore.XmlImport/complex-books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="search-results">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="result-set">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="review">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" type="xs:string" />
                    <xs:element name="content" type="xs:string" />
                    <xs:element name="book">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="title" type="xs:string" />
                          <xs:element minOccurs="0" name="authors" type="xs:string" />
                          <xs:element minOccurs="0" name="isbn" type="xs:unsignedLong" />
                          <xs:element name="url" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>